/vendor
composer.phar
composer.lock
.DS_Store
/src/views/themes/default/watcher/node_modules
/src/views/themes/default/assets/js/uncompressed/compiled
/src/views/themes/default/assets/js/uncompressed/compiled/*
/src/views/themes/default/assets/js/compressed/compiled
/src/views/themes/default/assets/js/compressed/compiled/*
/src/views/themes/default/assets/css/uncompressed/compiled
/src/views/themes/default/assets/css/uncompressed/compiled/*
/src/views/themes/default/assets/css/compressed/compiled
/src/views/themes/default/assets/css/compressed/compiled/*
/src/uploads/*
!/src/uploads/.gitkeep
