@mixin background_opacity($color, $opacity: 0.6)
  background: $color /* The Fallback */
  background: rgba($color, $opacity)

@mixin border_image($url, $top, $right, $bottom, $left)
  -moz-border-image: url($url) $top $right $bottom $left repeat
  -webkit-border-image: url($url) $top $right $bottom $left repeat
  border-image: url($url) $top $right $bottom $left repeat
  background-clip: padding-box
  border-style: solid /* for firefox */

@mixin form_common($background_color, $outline_color, $color, $active: false)
  @include background_opacity($background_color, 0.3)
  border: none
  outline: 2px outset $outline_color
  outline-offset: -2px
  color: $color
  &:focus
    @include background_opacity($background_color)
    outline: 2px inset $outline_color
  @if $active
    &:active
      @include background_opacity($background_color)
      outline: 2px inset $outline_color

%button
  @include form_common($form_input_background, $input_outline_color, $form_input_text, true)

body
  color: $text_color
  background: url(#{$base_path}/images/backgrounds/body.png?v=1)

a
  color: $link_color
  &:hover
    text-decoration: none

h1
  color: $heading_color

#page
  background: url(#{$base_path}/images/backgrounds/page.png?v=1)
  border-width: 0 1px 0 1px
  border-style: solid

.borderimage #page
  border-width: 0 15px 0 15px
  @include border_image("#{$base_path}/images/borders/page.png?v=1", 0, 15, 0, 15)

.error
  color: $error_text
  @include background_opacity($error_background, 0.3)
  border: 1px solid $error_border

.message
  color: $message_text
  @include background_opacity($message_background, 0.3)
  border: 1px solid $message_border

.text input, textarea
  @include form_common($form_input_background, $input_outline_color, $form_input_text)

.lt-ie8 input, textarea
  border: 1px solid $text_color !important

.lt-ie8 input.file
  background: $form_input_background !important

label.checkbox
  cursor: pointer
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  &:hover
    @include background_opacity($checkbox_hover_background, 0.2)
  span.checkmark
    visibility: hidden

.opacity label.checkbox
  input.real-checkbox
    cursor: pointer
    opacity: 0 /* visibility: hidden disables focusability */
    &:focus + span.faux-checkbox
      @extend %button:focus
    &:active + span.faux-checkbox
      @extend %button:focus
  span.focused
    @extend %button:focus
  span.faux-checkbox
    @extend %button

.opacity label.checked span.faux-checkbox span.checkmark
  visibility: visible

.opacity div.file 
  input.file
    cursor: pointer 
    opacity: 0
    &:active + input.faux-file /* for mouse */
      @extend %button:active
    &:focus + input.faux-file /* for mouse */
      @extend %button:focus
  p.file
    display: inline-block

.ie input.file
  opacity: 1 !important

input.active-button
  @extend %button:active

input.button
  @extend %button
