@mixin background-opacity($color, $opacity: 0.6)
  background: $color /* The Fallback */
  background: rgba($color, $opacity)

@mixin border_image($url, $top, $right, $bottom, $left)
  -moz-border-image: url($url) $top $right $bottom $left repeat
  -webkit-border-image: url($url) $top $right $bottom $left repeat
  border-image: url($url) $top $right $bottom $left repeat
  background-clip: padding-box

body
  color: $normal_text
  background: url(#{$base_path}/images/backgrounds/body.png?v=1)

a
  color: $link_color
  &:hover
    text-decoration: none

h1
  color: $h1_color

#page
  background: url(#{$base_path}/images/backgrounds/page.png?v=1)
  border-width: 15px 15px 15px 15px
  @include border_image("#{$base_path}/images/borders/page.png?v=1", 15, 15, 15, 15)
