@mixin background_opacity($color, $opacity: 0.6)
  background: $color /* The Fallback */
  background: rgba($color, $opacity)

@mixin border_image($url, $top, $right, $bottom, $left)
  -moz-border-image: url($url) $top $right $bottom $left repeat
  -webkit-border-image: url($url) $top $right $bottom $left repeat
  border-image: url($url) $top $right $bottom $left repeat
  background-clip: padding-box

body
  color: $normal_text
  background: url(#{$base_path}/images/backgrounds/body.png?v=1)

a
  color: $link_color
  &:hover
    text-decoration: none

h1
  color: $h1_color

#page
  background: url(#{$base_path}/images/backgrounds/page.png?v=1)
  border-width: 0 15px 0 15px
  @include border_image("#{$base_path}/images/borders/page.png?v=1", 0, 15, 0, 15)

.error
  color: $error_text
  @include background_opacity($error_background, 0.3)
  border: 1px solid $error_text

input, textarea
  @include background_opacity($form_text_background, 0.3)
  border: 1px solid $normal_text
  color: $normal_text
  outline: none

.submit input, .button input
  @include background_opacity($form_text_background, 0.3)
  border: 3px outset $form_borders
  color: $normal_text
  outline: none

input:focus, textarea:focus
  @include background_opacity($form_text_background)
  border: 1px solid $link_color

.submit input:active, .button input:active
  @include background_opacity($form_text_background, 0.4)
  border: 3px inset $form_borders
