$input_padding: 0.2em
$button_horizontal_padding: 0.4em
$active_button_bottom_padding: 0.5 * $input_padding
$active_button_top_padding: 2 * $input_padding - $active_button_bottom_padding
$button_height: 2em

html, body
  height: 100%

textarea
  max-width: 90%

#page
  width: 82%
  padding: 0 2%
  max-width: 960px
  margin: 0 auto
  min-height: 100%

.error, .message
  padding: 0 0.5em 1em 0.5em
  position: relative
  top: 0.2em

h1
  margin: 0
  padding: 0.6em 0 0 0

p
  margin: 0
  padding: 0.6em 0 0 0

.form
  padding: 0 0 1em 0

.text label
  display: block
  padding: $input_padding

.text input
  display: block
  padding: $input_padding
  margin: 0 0 0.5em 0
  width: 25%

label.checkbox
  display: inline-block
  position: relative
  left: -0.3em
  padding: 0.4em 0.3em 0.3em 1.6em
  input.real-checkbox
    position: absolute
    top: 0.6em
    left: 0.3em
  span.faux-checkbox
    display: table-cell
    width: 1em
    height: 1em
    text-align: center
    vertical-align: middle
    position: absolute
    top: 0.4em
    left: 0.3em

.no-js div.file input.faux-file,
.no-opacity div.file input.faux-file
  display: none

.no-js div.file p.file,
.no-opacity div.file p.file
  display: none

.no-js input.file,
.no-opacity input.file
  margin: 0.5em 0 0 0
  padding: $input_padding

.no-fileinput form div.file
  visibility: hidden !important
  height: 0
  width: 0
  overflow: hidden

.opacity div.file p
  margin: 0.3em 1em

.opacity div.upload 
  float: left
  padding: 0
  position: relative
  overflow: hidden
  input.file
    z-index: 2
    display: inline-block
    position: absolute
    padding: 0
    right: 0
    height: 4 * $input_padding + $button_height
    &:active + input.faux-file /* for mouse */
      padding: $active_button_top_padding $button_horizontal_padding $active_button_bottom_padding $button_horizontal_padding

.ie div.upload
  overflow: visible
  position: static
  input.file
    left: -1300px
    right: auto !important

input.active-button
  @extend input.button:active

input.button
  display: inline-block
  margin: 0.5em 0 0 0
  padding: $input_padding $button_horizontal_padding
  height: $button_height
  overflow: hidden
  &:active
    padding: $active_button_top_padding $button_horizontal_padding $active_button_bottom_padding $button_horizontal_padding
