html, body
  height: 100%

#page
  width: 82%
  padding: 0 2%
  max-width: 960px
  margin: 0 auto
  min-height: 100%

.error, .message
  padding: 0 0.5em 1em 0.5em
  position: relative
  top: 0.2em

h1
  margin: 0
  padding: 0.6em 0 0 0

p
  margin: 0
  padding: 0.6em 0 0 0

.form
  padding: 0 0 1em 0

.text label, .file label
  display: block
  padding: 0.2em 0 0 0

.text input
  display: block
  padding: 0.2em
  margin: 0 0 0.5em 0
  width: 25%

label.checkbox
  display: inline-block
  position: relative
  left: -0.3em
  padding: 0.4em 0.3em 0.3em 1.6em
  input.real-checkbox
    position: absolute
    top: 0.4em
    left: 0.3em
  span.faux-checkbox
    display: table-cell
    width: 1em
    height: 1em
    text-align: center
    vertical-align: middle
    position: absolute
    top: 0.4em
    left: 0.3em

label.file
  display: inline-block

.no-js label.file input.file
  margin: 1em 0 0 0
  padding: 0.2em

.no-js label.file input.faux-file
  display: none

.submit input, .button input, .file input.faux-file
  display: inline-block
  margin: 0.5em 0 0 0
  padding: 0.2em
  height: 2.0em
  overflow: hidden
  &:active
    padding: 0.3em 0.2em 0.1em 0.2em
