$normal_text: #6D5226
$link_color: #5E7B96
$h1_color: #381A1C 
$page_background: #E5D9CD
$content_background: #E1CDB5 
$form_text_background: #FFF
$form_borders: #DECCB7
$error_text: #7F151C
$error_background: #CE8A8E
