$error_text: #7F151C
$error_border: $error_text
$error_background: #CE8A8E
$message_text: #938833
$message_border: $message_text
$message_background: #FCE63C
$normal_text: #6D5226
$link_color: #5E7B96
$h1_color: #381A1C 
$page_background: #E5D9CD
$content_background: #E1CDB5 
$form_input_background: #FFF
$form_button_border: #DECCB7
$form_text_border: $normal_text
$form_focus_border: $link_color
