$text_family: 'Fanwood', Serif;
$header_family: 'Fanwood', Serif;
$icon_font: 'FontAwesome';
$text_family_winchrome: 'Fanwood-WinChrome', Serif;
$header_family_winchrome: 'Fanwood-WinChrome', Serif;
$icon_font_winchrome: 'FontAwesome-WinChrome';
$base_size: 18px;
$base_weight: 400;
@mixin base_font($base_size, $base_weight: normal) {
	font-size: $base_size;
	font-weight: $base_weight;
}
@font-face {
    font-family: 'Fanwood';
    src: url('#{$base_path}/fonts/fanwood/webfonts/fanwood_text-webfont.eot');
    src: url('#{$base_path}/fonts/fanwood/webfonts/fanwood_text-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$base_path}/fonts/fanwood/webfonts/fanwood_text-webfont.woff') format('woff'),
         url('#{$base_path}/fonts/fanwood/webfonts/fanwood_text-webfont.ttf') format('truetype'),
         url('#{$base_path}/fonts/fanwood/webfonts/fanwood_text-webfont.svg#fanwood') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fanwood';
    src: url('#{$base_path}/fonts/fanwood/webfonts/fanwood_text_italic-webfont.eot');
    src: url('#{$base_path}/fonts/fanwood/webfonts/fanwood_text_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$base_path}/fonts/fanwood/webfonts/fanwood_text_italic-webfont.woff') format('woff'),
         url('#{$base_path}/fonts/fanwood/webfonts/fanwood_text_italic-webfont.ttf') format('truetype'),
         url('#{$base_path}/fonts/fanwood/webfonts/fanwood_text_italic-webfont.svg#fanwood') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('#{$base_path}/fonts/font-awesome/fonts/fontawesome-webfont.eot?v=3.2.1');
    src: url('#{$base_path}/fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),
         url('#{$base_path}/fonts/font-awesome/fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'),
         url('#{$base_path}/fonts/font-awesome/fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),
         url('#{$base_path}/fonts/font-awesome/fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fanwood-WinChrome';
    src: url('#{$base_path}/fonts/fanwood/webfonts/fanwood_text-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fanwood-WinChrome';
    src: url('#{$base_path}/fonts/fanwood/webfonts/fanwood_text-webfont.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FontAwesome-WinChrome';
    src: url('#{$base_path}/fonts/font-awesome/fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, input, textarea {
    font-family: $text_family;
    @include base_font(18px)
}
html.win-chrome-font {
    body, input, textarea {
	font-family: $text_family_winchrome;
    }
}
/* some browsers don't automatically fallback if character doesn't exist in webfont */
input[type=password], span.checkmark {
    font-family: Serif
}
.button-icon {
    font-family: $icon_font;
    font-size: 1em;
}
html.win-chrome-font .button-icon {
    font-family: $icon_font_winchrome;
}
h1 {
    font-size: 1.7em;
    font-family: $header_family;
}
html.win-chrome-font h1 {
    font-family: $header_family_winchrome;
}
.opacity span.checkmark {
    font-size: 0.8em !important;
}
.opacity input.file {
    font-size: 3em !important;
}
.ie div.file input.file {
    font-size: 1em !important;
}
a.button {
    text-decoration: none;
}
span.caption {
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
}
div.dz-success-mark, div.dz-error-mark {
	font-size: 1.3em;
}
@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 160dpi) {
    body {
        font-size: 18px;
    }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    body, input, textarea {
        @include base_font(12px)
    }
}
@media only print {
    body, input, textarea {
        @include base_font(12pt)
    }
}
