@font-face {
  font-family: 'Fanwood';
  src: url("../../../fonts/fanwood/webfonts/fanwood_text-webfont.eot");
  src: url("../../../fonts/fanwood/webfonts/fanwood_text-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/fanwood/webfonts/fanwood_text-webfont.woff") format("woff"), url("../../../fonts/fanwood/webfonts/fanwood_text-webfont.ttf") format("truetype"), url("../../../fonts/fanwood/webfonts/fanwood_text-webfont.svg#fanwood") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Fanwood';
  src: url("../../../fonts/fanwood/webfonts/fanwood_text_italic-webfont.eot");
  src: url("../../../fonts/fanwood/webfonts/fanwood_text_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/fanwood/webfonts/fanwood_text_italic-webfont.woff") format("woff"), url("../../../fonts/fanwood/webfonts/fanwood_text_italic-webfont.ttf") format("truetype"), url("../../../fonts/fanwood/webfonts/fanwood_text_italic-webfont.svg#fanwood") format("svg");
  font-weight: normal;
  font-style: italic; }

body, input, textarea {
  font-family: "Fanwood", Serif;
  font-size: 18px;
  font-weight: normal; }

/* some browsers don't automatically fallback if character doesn't exist in webfont */
input[type=password], span.checkmark {
  font-family: Serif; }

h1 {
  font-size: 1.7em;
  font-family: "Fanwood", Serif; }

.opacity span.checkmark {
  font-size: 0.8em !important; }

.opacity input.file {
  font-size: 3em !important; }

.ie div.file input.file {
  font-size: 1em !important; }

a.button {
  text-decoration: none; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 160dpi) {
  body {
    font-size: 18px; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body, input, textarea {
    font-size: 12px;
    font-weight: normal; } }
@media only print {
  body, input, textarea {
    font-size: 12pt;
    font-weight: normal; } }
input.button {
  background: #ece4da;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  outline: 2px outset #deccb7;
  outline-offset: -2px;
  color: #381a1c;
  cursor: pointer; }
  .js label.checkbox span.active-checkbox, .opacity div.file input.file:active + span.button, .ie div.file input.file:active + span.button, .js span.active-button, .js a.active-button, input.button:active, .opacity div.upload input.file:active + span.faux-file, .ie div.upload input.file:active + span.faux-file, span.active-button, a.active-button {
    background: #f6f1eb;
    background: rgba(255, 255, 255, 0.6);
    outline: 2px inset #deccb7 !important; }
  .js label.checkbox input.checkbox:focus + span.faux-checkbox, .js label.checkbox input.checkbox:active + span.faux-checkbox, .js label.checkbox span.focused-checkbox, .opacity div.file input.file:focus + span.button, .ie div.file input.file:focus + span.button, .js span.focused-button, .js a.focused-button, input.button:focus {
    background: #f6f1eb;
    background: rgba(255, 255, 255, 0.6); }

.js label.checkbox span.faux-checkbox, span.button, a.button {
  background: #ece4da;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  outline: 2px outset #deccb7;
  outline-offset: -2px;
  color: #381a1c;
  cursor: pointer; }

label.checkbox, label.checkbox span.checkmark, span.button, a.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  color: #6d5226;
  background: url(../../../images/backgrounds/body.png?v=1); }

a {
  color: #5e7b96; }
  a:hover {
    text-decoration: none; }

h1 {
  color: #381a1c; }

#page {
  background: url(../../../images/backgrounds/page.png?v=1);
  border-width: 0 3px 0 3px;
  border-style: double; }

.borderimage #page {
  border-width: 0 15px 0 15px;
  -moz-border-image: url("../../../images/borders/page.png?v=1") 0 15 repeat repeat;
  -webkit-border-image: url("../../../images/borders/page.png?v=1") 0 15 repeat repeat;
  -o-border-image: url("../../../images/borders/page.png?v=1") 0 15 repeat repeat;
  border-image: url("../../../images/borders/page.png?v=1") 0 15 repeat repeat;
  background-clip: padding-box;
  border-style: solid; }

.error {
  color: #7f151c;
  background: #ce8a8e;
  background: rgba(206, 138, 142, 0.3);
  border: 1px solid #7f151c; }

.message {
  color: #938833;
  background: #fce63c;
  background: rgba(252, 230, 60, 0.3);
  border: 1px solid #938833; }

.text input, textarea {
  background: #ece4da;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  outline: 2px outset #deccb7;
  outline-offset: -2px;
  color: #381a1c; }
  .text input:focus, textarea:focus {
    background: #f6f1eb;
    background: rgba(255, 255, 255, 0.6);
    outline: 2px inset #deccb7; }

.lt-ie8 input, .lt-ie8 textarea, .lt-ie8 span.faux-checkbox, .lt-ie8 span.button, .lt-ie8 a.button {
  border: 2px outset #deccb7; }
.lt-ie8 input.focused, .lt-ie8 textarea.focused {
  border: 2px inset #deccb7;
  background: #f6f1eb;
  background: rgba(255, 255, 255, 0.6); }
.lt-ie8 span.focused-button, .lt-ie8 a.focused-button {
  background: #f6f1eb;
  background: rgba(255, 255, 255, 0.6); }
.lt-ie8 span.active-button, .lt-ie8 a.active-button {
  border: 2px inset #deccb7;
  background: #f6f1eb;
  background: rgba(255, 255, 255, 0.6); }
.lt-ie8 input.file {
  background: #ece4da; }

label.checkbox {
  cursor: pointer; }
  label.checkbox:hover {
    background: #f2e9dc;
    background: rgba(255, 255, 255, 0.2); }
  label.checkbox span.checkmark {
    visibility: hidden; }

.opacity div.file input.file, .ie div.file input.file {
  cursor: pointer;
  opacity: 0; }
.opacity div.file p.file, .ie div.file p.file {
  display: inline-block; }

.js label.checked span.faux-checkbox span.checkmark {
  visibility: visible; }

span.button, a.button, input.button {
  display: inline-block;
  margin: 0.5em 0 0 0;
  padding: 0.2em 0.4em; }

html, body {
  height: 100%;
  padding: 0; }

textarea {
  max-width: 90%; }

#page {
  width: 82%;
  padding: 0 2%;
  max-width: 960px;
  margin: 0 auto;
  min-height: 100%; }

.error, .message {
  padding: 0 0.5em 1em 0.5em;
  position: relative;
  top: 0.2em; }

h1 {
  margin: 0;
  padding: 0.6em 0 0 0; }

p {
  margin: 0;
  padding: 0.6em 0 0 0; }

.form {
  padding: 0 0 1em 0; }

.text label {
  display: block;
  padding: 0.2em; }

.text input {
  display: block;
  padding: 0.2em;
  margin: 0 0 0.5em 0;
  width: 25%; }

.js label.checkbox {
  display: inline-block;
  position: relative;
  left: -0.3em;
  padding: 0.2em; }
  .js label.checkbox input.checkbox {
    position: absolute;
    left: -1300px; }
  .js label.checkbox span.faux-checkbox {
    display: inline-block;
    position: relative;
    width: 1.1em;
    height: 1.1em;
    overflow: hidden;
    float: left;
    margin: 0.4em 0 0 0.3em; }
  .js label.checkbox span.checkmark {
    display: inline-block;
    position: absolute;
    top: 0.3em;
    left: 0.3em;
    width: 1em;
    height: 1em;
    line-height: 1em; }
  .js label.checkbox span.checkbox-label {
    display: inline-block;
    margin: 0.1em 0 0 0;
    height: 1.4em;
    padding: 0.2em; }

/* ie is still weird */
.ie label.checkbox span.faux-checkbox {
  height: 0.9em !important;
  width: 0.9em !important; }
.ie label.checkbox span.checkmark {
  top: 0.1em !important;
  left: 0.1em !important; }

.lt-ie9 label.checkbox span.checkmark {
  top: 0 !important;
  left: 0 !important; }

.lt-ie8 input.checkbox {
  position: relative !important;
  left: 0 !important;
  top: -0.4em;
  height: 1em;
  width: 1em; }

.no-js input.file {
  margin: 0.5em 0 0 0;
  padding: 0.2em; }

.no-fileinput form div.file {
  visibility: hidden !important;
  height: 0;
  width: 0;
  overflow: hidden; }

.opacity div.file p, .ie div.file p {
  margin: 0.3em;
  padding-left: 1em; }

.opacity div.upload, .ie div.upload {
  float: left;
  padding: 0;
  position: relative;
  overflow: hidden; }
  .opacity div.upload input.file, .ie div.upload input.file {
    z-index: 2;
    display: inline-block;
    position: absolute;
    padding: 0;
    right: 0; }

.ie div.upload {
  overflow: visible;
  position: static; }
  .ie div.upload input.file {
    left: -1300px;
    right: auto !important; }

input.button:active, .opacity div.upload input.file:active + span.faux-file, .ie div.upload input.file:active + span.faux-file, span.active-button, a.active-button {
  padding: 0.3em 0.4em 0.1em 0.4em; }
