@font-face {
  font-family: 'Fanwood';
  src: url("../../../fonts/fanwood/webfonts/fanwood_text-webfont.eot");
  src: url("../../../fonts/fanwood/webfonts/fanwood_text-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/fanwood/webfonts/fanwood_text-webfont.woff") format("woff"), url("../../../fonts/fanwood/webfonts/fanwood_text-webfont.ttf") format("truetype"), url("../../../fonts/fanwood/webfonts/fanwood_text-webfont.svg#fanwood") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Fanwood';
  src: url("../../../fonts/fanwood/webfonts/fanwood_text_italic-webfont.eot");
  src: url("../../../fonts/fanwood/webfonts/fanwood_text_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/fanwood/webfonts/fanwood_text_italic-webfont.woff") format("woff"), url("../../../fonts/fanwood/webfonts/fanwood_text_italic-webfont.ttf") format("truetype"), url("../../../fonts/fanwood/webfonts/fanwood_text_italic-webfont.svg#fanwood") format("svg");
  font-weight: normal;
  font-style: italic; }

body {
  font-size: 18px;
  font-family: "Fanwood", Serif; }

h1 {
  font-size: 1.7em;
  font-family: "Fanwood", Serif; }

input, textarea {
  font-size: 0.9em !important; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 160dpi) {
  body {
    font-size: 18px; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    font-size: 12px; } }
body {
  color: #6d5226;
  background: url(../../../images/backgrounds/body.png?v=1); }

a {
  color: #5e7b96; }
  a:hover {
    text-decoration: none; }

h1 {
  color: #381a1c; }

#page {
  background: url(../../../images/backgrounds/page.png?v=1);
  border-width: 0 15px 0 15px;
  -moz-border-image: url("../../../images/borders/page.png?v=1") 0 15 0 15 repeat;
  -webkit-border-image: url("../../../images/borders/page.png?v=1") 0 15 0 15 repeat;
  border-image: url("../../../images/borders/page.png?v=1") 0 15 0 15 repeat;
  background-clip: padding-box;
  border-style: solid; }

.error {
  color: #7f151c;
  background: #ce8a8e;
  background: rgba(206, 138, 142, 0.3);
  border: 1px solid #7f151c; }

.message {
  color: #938833;
  background: #fce63c;
  background: rgba(252, 230, 60, 0.3);
  border: 1px solid #938833; }

input, textarea {
  background: white;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #381a1c;
  color: #381a1c;
  outline: none; }
  input:focus, textarea:focus {
    background: white;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #5e7b96; }

label.checkbox {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  label.checkbox:hover {
    background: white;
    background: rgba(255, 255, 255, 0.4); }
  label.checkbox input.real-checkbox {
    cursor: pointer;
    opacity: 0; }
    label.checkbox input.real-checkbox:focus + span.faux-checkbox {
      border: 1px solid #5e7b96;
      box-shadow: 0 0 5px #5e7b96;
      background: white;
      background: rgba(255, 255, 255, 0.6); }
    label.checkbox input.real-checkbox:checked + span.faux-checkbox span.checkmark {
      visibility: visible; }
  label.checkbox span.faux-checkbox {
    border: 1px solid #381a1c;
    background: white;
    background: rgba(255, 255, 255, 0.3);
    color: #381a1c; }
    label.checkbox span.faux-checkbox span.checkmark {
      visibility: hidden; }

label.file input.file {
  visibility: hidden; }

.no-js label.file input.file {
  visibility: visible; }

.submit input, .button input, .file input.faux-file {
  background: white;
  background: rgba(255, 255, 255, 0.3);
  border: 2px outset #deccb7;
  color: #381a1c;
  outline: none; }
  .submit input:active, .button input:active, .file input.faux-file:active {
    background: white;
    background: rgba(255, 255, 255, 0.4);
    border: 2px inset #deccb7; }
  .submit input:focus, .button input:focus, .file input.faux-file:focus {
    background: white;
    background: rgba(255, 255, 255, 0.6);
    border: 2px outset #5e7b96; }

html, body {
  height: 100%; }

#page {
  width: 82%;
  padding: 0 2%;
  max-width: 960px;
  margin: 0 auto;
  min-height: 100%; }

.error, .message {
  padding: 0 0.5em 1em 0.5em;
  position: relative;
  top: 0.2em; }

h1 {
  margin: 0;
  padding: 0.6em 0 0 0; }

p {
  margin: 0;
  padding: 0.6em 0 0 0; }

.form {
  padding: 0 0 1em 0; }

.text label, .file label {
  display: block;
  padding: 0.2em 0 0 0; }

.text input {
  display: block;
  padding: 0.2em;
  margin: 0 0 0.5em 0;
  width: 25%; }

label.checkbox {
  display: inline-block;
  position: relative;
  left: -0.3em;
  padding: 0.4em 0.3em 0.3em 1.6em; }
  label.checkbox input.real-checkbox {
    position: absolute;
    top: 0.4em;
    left: 0.3em; }
  label.checkbox span.faux-checkbox {
    display: table-cell;
    width: 1em;
    height: 1em;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0.4em;
    left: 0.3em; }

label.file {
  display: inline-block; }

.no-js label.file input.file {
  margin: 1em 0 0 0; }

.no-js label.file input.faux-file {
  display: none; }

.submit input, .button input, .file input.faux-file {
  display: inline-block;
  margin: 0.5em 0 0 0;
  padding: 0.2em;
  height: 2em;
  overflow: hidden; }
  .submit input:active, .button input:active, .file input.faux-file:active {
    padding: 0.3em 0.2em 0.1em 0.2em; }
