@font-face {
  font-family: 'Fanwood';
  src: url("../../../fonts/fanwood/webfonts/fanwood_text-webfont.eot");
  src: url("../../../fonts/fanwood/webfonts/fanwood_text-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/fanwood/webfonts/fanwood_text-webfont.woff") format("woff"), url("../../../fonts/fanwood/webfonts/fanwood_text-webfont.ttf") format("truetype"), url("../../../fonts/fanwood/webfonts/fanwood_text-webfont.svg#fanwood") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Fanwood';
  src: url("../../../fonts/fanwood/webfonts/fanwood_text_italic-webfont.eot");
  src: url("../../../fonts/fanwood/webfonts/fanwood_text_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/fanwood/webfonts/fanwood_text_italic-webfont.woff") format("woff"), url("../../../fonts/fanwood/webfonts/fanwood_text_italic-webfont.ttf") format("truetype"), url("../../../fonts/fanwood/webfonts/fanwood_text_italic-webfont.svg#fanwood") format("svg");
  font-weight: normal;
  font-style: italic; }

body {
  font-size: 18px;
  font-family: "Fanwood", Serif;
  font-weight: 600; }

h1 {
  font-size: 1.7em;
  font-family: "Fanwood", Serif; }

input, textarea {
  font-size: 0.9em !important; }

.opacity span.checkmark {
  font-size: 0.8em !important; }

.opacity input.file {
  font-size: 3em !important; }

.ie div.file input.file {
  font-size: 0.9em !important; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 160dpi) {
  body {
    font-size: 18px; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    font-size: 12px; } }
@media only print {
  body {
    font-size: 12pt; } }
.opacity label.checkbox span.faux-checkbox, input.button {
  background: white;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  outline: 2px outset #deccb7;
  outline-offset: -2px;
  color: #381a1c; }
  .opacity label.checkbox input.real-checkbox:focus + span.faux-checkbox, .opacity label.checkbox input.real-checkbox:active + span.faux-checkbox, .opacity label.checkbox span.focused, .opacity label.checkbox span.faux-checkbox:focus, .opacity div.file input.file:focus + input.faux-file, input.button:focus {
    background: white;
    background: rgba(255, 255, 255, 0.6);
    outline: 2px inset #deccb7; }
  .opacity label.checkbox span.faux-checkbox:active, .opacity div.file input.file:active + input.faux-file, input.active-button, input.button:active {
    background: white;
    background: rgba(255, 255, 255, 0.6);
    outline: 2px inset #deccb7; }

body {
  color: #6d5226;
  background: url(../../../images/backgrounds/body.png?v=1); }

a {
  color: #5e7b96; }
  a:hover {
    text-decoration: none; }

h1 {
  color: #381a1c; }

#page {
  background: url(../../../images/backgrounds/page.png?v=1);
  border-width: 0 1px 0 1px;
  border-style: solid; }

.borderimage #page {
  border-width: 0 15px 0 15px;
  -moz-border-image: url("../../../images/borders/page.png?v=1") 0 15 0 15 repeat;
  -webkit-border-image: url("../../../images/borders/page.png?v=1") 0 15 0 15 repeat;
  border-image: url("../../../images/borders/page.png?v=1") 0 15 0 15 repeat;
  background-clip: padding-box;
  border-style: solid; }

.error {
  color: #7f151c;
  background: #ce8a8e;
  background: rgba(206, 138, 142, 0.3);
  border: 1px solid #7f151c; }

.message {
  color: #938833;
  background: #fce63c;
  background: rgba(252, 230, 60, 0.3);
  border: 1px solid #938833; }

.text input, textarea {
  background: white;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  outline: 2px outset #deccb7;
  outline-offset: -2px;
  color: #381a1c; }
  .text input:focus, textarea:focus {
    background: white;
    background: rgba(255, 255, 255, 0.6);
    outline: 2px inset #deccb7; }

.lt-ie8 input, textarea {
  border: 1px solid #6d5226 !important; }

.lt-ie8 input.file {
  background: white !important; }

label.checkbox {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  label.checkbox:hover {
    background: white;
    background: rgba(255, 255, 255, 0.2); }
  label.checkbox span.checkmark {
    visibility: hidden; }

.opacity label.checkbox input.real-checkbox {
  cursor: pointer;
  opacity: 0; }

.opacity label.checked span.faux-checkbox span.checkmark {
  visibility: visible; }

.opacity div.file input.file {
  cursor: pointer;
  opacity: 0; }
.opacity div.file p.file {
  display: inline-block; }

.ie input.file {
  opacity: 1 !important; }

html, body {
  height: 100%;
  padding: 0; }

textarea {
  max-width: 90%; }

#page {
  width: 82%;
  padding: 0 2%;
  max-width: 960px;
  margin: 0 auto;
  min-height: 100%; }

.error, .message {
  padding: 0 0.5em 1em 0.5em;
  position: relative;
  top: 0.2em; }

h1 {
  margin: 0;
  padding: 0.6em 0 0 0; }

p {
  margin: 0;
  padding: 0.6em 0 0 0; }

.form {
  padding: 0 0 1em 0; }

.text label {
  display: block;
  padding: 0.2em; }

.text input {
  display: block;
  padding: 0.2em;
  margin: 0 0 0.5em 0;
  width: 25%; }

.opacity label.checkbox {
  display: inline-block;
  position: relative;
  left: -0.3em;
  padding: input_padding; }
  .opacity label.checkbox input.real-checkbox {
    position: absolute;
    top: 0.2em;
    left: 0.2em; }
  .opacity label.checkbox span.faux-checkbox {
    display: inline-block;
    position: relative;
    width: 1.1em;
    height: 1.1em;
    overflow: hidden;
    float: left;
    margin: 0.4em 0 0 0.3em; }
  .opacity label.checkbox span.checkmark {
    display: inline-block;
    position: absolute;
    top: 0.3em;
    left: 0.2em;
    width: 1em;
    height: 1em;
    line-height: 1em; }
  .opacity label.checkbox span.checkbox-label {
    display: inline-block;
    margin: 0.1em 0 0 0;
    height: 1.4em;
    padding: 0.2em; }

/* ie is still weird */
.ie label.checkbox span.faux-checkbox {
  height: 0.9em !important;
  width: 0.9em !important; }
.ie label.checkbox span.checkmark {
  top: 0.1em !important;
  left: 0.1em !important; }

.no-js label.checkbox span.faux-checkbox,
.no-opacity label.checkbox span.faux-checkbox {
  display: none; }

.no-js div.file input.faux-file,
.no-opacity div.file input.faux-file {
  display: none; }

.no-js div.file p.file,
.no-opacity div.file p.file {
  display: none; }

.no-js input.file,
.no-opacity input.file {
  margin: 0.5em 0 0 0;
  padding: 0.2em; }

.no-fileinput form div.file {
  visibility: hidden !important;
  height: 0;
  width: 0;
  overflow: hidden; }

.opacity div.file p {
  margin: 0.3em 1em; }

.opacity div.upload {
  float: left;
  padding: 0;
  position: relative;
  overflow: hidden; }
  .opacity div.upload input.file {
    z-index: 2;
    display: inline-block;
    position: absolute;
    padding: 0;
    right: 0;
    height: 2.8em; }
    .opacity div.upload input.file:active + input.faux-file {
      padding: 0.3em 0.4em 0.1em 0.4em; }

.ie div.upload {
  overflow: visible;
  position: static; }
  .ie div.upload input.file {
    left: -1300px;
    right: auto !important; }

input.button {
  display: inline-block;
  margin: 0.5em 0 0 0;
  padding: 0.2em 0.4em;
  height: 2em;
  overflow: hidden; }
  input.button:active, input.active-button {
    padding: 0.3em 0.4em 0.1em 0.4em; }
